@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");

/* Common Components */
* {
  box-sizing: border-box;
}

:root {
  --dark-gray: #101820;
  --yellow: #f2c763;
  --light-yellow: #f2c76383;
}

body {
  background-color: #ba2a2b;
  height: 895px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.screen {
  width: 370px;
  height: 800px;
  background-color: var(--dark-gray);
  margin: 0px 55px;
  border-radius: 40px;
  box-shadow: 0px 20px 50px 0px rgba(39, 1, 1, 0.829);
}

.nav-bar {
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  color: var(--yellow);
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Screen 1 */
.library {
  padding: 40px 20px 20px 20px;
}

.library-musician img {
  height: 90px;
  width: 90px;
  border-radius: 45px;
  box-shadow: 0px 5px 20px 2px #8b72382f;
  margin: 25px 0px 45px 0px;
}

h1 {
  font-size: 25px;
  color: var(--yellow);
  margin-bottom: 20px;
}

h5 {
  font-size: 14px;
  color: var(--light-yellow);
  font-weight: 700;
}

.library__buttons {
  margin: 45px 35px 30px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.library__shuffle-btn {
  padding: 15px 29px;
  color: var(--dark-gray);
  background-color: var(--yellow);
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.library__shuffle-btn:hover {
  color: var(--yellow);
  background-color: var(--dark-gray);
  box-shadow: 0px 5px 20px 2px #8b72381e;
}

.library__like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 19px;
  border-radius: 40px;
  box-shadow: 0px 5px 20px 2px #8b72381e;
  color: var(--yellow);
  transition: all 0.3s ease-in-out;
}

.library__like-btn:hover {
  background-color: var(--yellow);
  color: #1018208e;
  box-shadow: none;
}

.library__like-btn i {
  margin-right: 7px;
}

.library-song {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 2px #8b723810;
  transition: box-shadow 0.3s ease-in-out;
}

.library-song:hover {
  box-shadow: 0px 5px 20px 2px #8b72386c;
}

.library-song__col:first-child {
  display: flex;
  justify-content: flex-start;
}

.library-song__cover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.library-song__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 20px;
}

.library-song__musician {
  font-size: 13px;
  color: var(--light-yellow);
}

.library-song__title {
  font-size: 15px;
  color: var(--yellow);
  text-transform: uppercase;
}

.library-song__col:last-child {
  color: var(--light-yellow);
}

#library-current-playing {
  width: 50px;
  height: 50px;
  position: relative;
}

#playing-animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  top: 0px;
}

@keyframes bars {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.7);
  }

  100% {
    transform: scaleY(1);
  }
}

#playing-animation div:nth-child(1) {
  animation-delay: 0s;
}

#playing-animation div:nth-child(2) {
  animation-delay: 0.2s;
}

#playing-animation div:nth-child(3) {
  animation-delay: 0.4s;
}

#playing-animation div {
  width: 5px;
  height: 12px;
  margin: 0px 1px;
  background-color: var(--yellow);
  border-radius: 2px;
  animation: bars 0.6s infinite;
}

.library__play-control-bar {
  background-color: var(--yellow);
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.library__control-musician {
  font-size: 13px;
  color: #101820b7;
  margin-bottom: 6px;
}

.library__control-title {
  font-size: 15px;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.library__control-bts i {
  margin-left: 15px;
  color: var(--dark-gray);
}

/* Screen 2 */
.playing {
  padding: 40px 30px 20px 30px;
}

.playing .nav-bar {
  margin: 0px;
}

.playing-music__cover {
  width: 265px;
  height: 265px;
  border-radius: 20px;
  margin: 80px 0px 65px 0px;
  box-shadow: 0px 15px 30px 3px rgba(0, 0, 70, 0.411);
}

.playing__control {
  margin-top: 45px;
}

.playing__times {
  color: var(--light-yellow);
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.playing__duration {
  position: relative;
  height: 15px;
  border-bottom: solid 4px #f2c7633f;
}

.playing__drag-line {
  position: absolute;
  bottom: -4px;
  width: 180px;
  border-bottom: solid 4px var(--yellow);
}

.playing__drag-spot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--yellow);
  position: absolute;
  bottom: -6px;
  margin-left: 178px;
}

.playing__buttons {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playing__buttons i:first-child,
.playing__buttons i:last-child {
  color: var(--light-yellow);
}

.playing__buttons i:nth-child(2),
.playing__buttons i:nth-child(3),
.playing__buttons i:nth-child(4) {
  color: var(--yellow);
}
